# сохраняет точные версии пакетов без ~, ^
save-exact = true

# отключает проверку сертификатов из внутренней сети сбербанка
strict-ssl = false

# отключает генерацию package-lock.json
package-lock = false
